@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Major+Mono+Display&display=swap");

body {
  background-color: #093A3E;
  color: #FBFAF8;
  font-family: "Comic Neue";
}

.menu {
  text-transform: uppercase;
  width: 75%;
  padding-top: 1%;
  margin: auto;
}
.menu li {
  display: inline;
  float: right;
}
.menu ul {
  overflow: hidden;
  list-style-type: none;
}
.menu li a,
a:visited {
  padding: 1em;
  text-decoration: none;
  color: inherit;
}
.menu a:hover, a:hover {
  color: #1B998B;
}
.content {
  width: 50%;
  padding: 2rem;
  margin: auto;
  font-size: 1.2em;
}

.content img {
  float: right;
}

.title {
  font-size: 1.4em;
  text-decoration: none;
}

.blogPost a{
  text-decoration: none;
}